@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;

}

body {
    background-color: #2d316d;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.movie-container {
    background-color: #1d2049;
    flex-wrap: wrap;
}

.movies {
    background-color: #2d316d;
    width: 20%;
    min-height: 200px;
    margin: 20px;
    color: whitesmoke;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.201);
    position: relative;
    overflow:hidden;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
}

.movie-info h3 {
    font-size: 1.1rem;
    margin: 15px 10px;
}

.movie-info span {
    
    font-size: 0.7rem;
    border: solid 1px #1d2049;
    background-color: #1d2049;
    padding: 0.25rem 0.5rem;
    color: whitesmoke;
}

.movies img{
    width: 100%;
    height: auto;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1.5px solid #4de1e1a7;
    box-shadow: 0 0 0 1px #4dd2e1a5;
}

input[type="text"], input[type="text"]:focus {
    background-color: #2d316d;
    border: 1.5px solid #000000;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.form-control::placeholder{
    color: #7378c5;
}


.overview {
    background-color: whitesmoke;
    color: black;
    padding: 2rem;
    left:0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    max-height: 500px;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movies:hover .overview{
    transform: translateY(0%);
}




.movie-info span .red {
    color: rgb(253, 42, 42);
}

.movie-info span .green {
    color: rgb(60, 220, 84);
}

.movie-info span .orange {
    color: rgb(255, 213, 0);
}